{% block content %}
    <h1>Все заявки</h1>


    <form method="GET">
        {{ filter.form }}
        <button type="submit" class="btn btn-primary">ОК</button>
    </form>
    <a href="{% url 'delete-category' %}">Удалить категорию</a>
    {% if order_list %}
        <ul>

            {% for order in filter.qs %}
                <li>
                    <a href="{% url 'order-detail' order.pk %}">{{ order.name }}</a> ({{ order.get_status_display }}) -
                    {{ order.orderer }}
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>Заявок пока что нет</p>
    {% endif %}
{% endblock %}