{% block content %}
    <h1>Название заявки: {{ order.name }}</h1>

    <p><strong>Заказчик:</strong> {{ order.orderer }}</p>
    <p><strong>Описание:</strong> {{ order.description }}</p>
    <p><strong>Статус:</strong> {{ order.get_status_display }}</p>
    <img src="{{ order.plan.url }}">
    <p><strong>Категория:</strong> {{ order.category }}</p>
    <p><strong>Дата создания::</strong> {{ order.date }}</p>
{#    <img src="{{ order.design.url }}">#}
    <br>
    <a href="{{ order.pk }}/delete">Удалить заявку?</a>

    {% if perms.app.can_change_status %}
        <a href="{{ order.pk }}/status-change">Обновить статус</a>
    {% endif %}
{% endblock %}